CIC-IDS-2017/GeneratedLabelledFlows/*
CIC-IDS-2017/raw_data_pcap/*
preprocessed/*
__pycache__/
.vscode/

!CIC-IDS-2017/GeneratedLabelledFlows/.gitkeep
!CIC-IDS-2017/raw_data_pcap/.gitkeep
!preprocessed/.gitkeep